<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h1>Dashboard</h1>
			<p>Herzlich Willkommen in der Kontakverwaltungsanwendung.</p>
			<p><a class="btn btn-primary btn-lg"  routerLink="/contacts/all" role="button">Zu den Kontakten</a></p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Firmen</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">Company 1</li>
					<li class="list-group-item">Company 2</li>
					<li class="list-group-item">Company 3</li>
					<li class="list-group-item">Company 4</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div (click)="tuWat()" class="panel-heading">Geburtstage</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">14 Tage</span> Person 1
					</li>
                    		<li class="list-group-item">
						<span class="badge">24 Tage</span> Person 2
					</li>
                    		<li class="list-group-item">
						<span class="badge">25 Tage</span> Person 3
					</li>
                    		<li class="list-group-item">
						<span class="badge">31 Tage</span> Person 4
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>