<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h1>Dashboard</h1>
			<p>Herzlich Willkommen in der Kontakverwaltungsanwendung.</p>
			<p><a class="btn btn-primary btn-lg" routerLink="/contacts/all" role="button">Zu den Kontakten</a></p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Firmen</div>
			<div class="panel-body">
				<p *ngIf="companys.length === 0">Keine Firmen vorhanden.</p>
				<ul class="list-group">
					<li *ngFor="let company of companys" class="list-group-item">{{company}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Geburtstage in den nächsten zehn Tagen</div>
			<div class="panel-body">
				<p *ngIf="birthdayList.length === 0">Keine Geburtstage in den nächsten {{BIRTHDAY_RANGE_IN_DAYS}} Tagen.</p>
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let birthday of birthdayList">
						<span class="badge">Geburtstag am {{birthday.dateOfBirth | date: 'dd. MM.'}}</span> {{birthday.name}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>