<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{PAGE_TITLE}}</h3>
	</div>
	<div class="panel-body">
		<form [formGroup]="form" (ngSubmit)="submitForm(form, emails, addresses, phones)">
			<div class="col-md-12">
				<p>{{PAGE_DESC}}</p>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Name</label>
							<p style="color:maroon" *ngIf="form.controls['name'].hasError('required') && (form.controls['name'].touched || submitedForm)">Bitte geben Sie einen Namen an.</p>
							<input type="text" formControlName="name" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Firma</label>
							<p style="color:maroon" *ngIf="form.controls['company'].hasError('required') && (form.controls['company'].touched || submitedForm)">Bitte geben Sie eine Firma an.</p>
							<input formControlName="company" type="text" class="form-control" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Kategorie</label>
							<p style="color:maroon" *ngIf="!form.controls['category'].valid && (form.controls['category'].touched || submitedForm)">Bitte wählen Sie eine Kategorie aus.</p>
							<select formControlName="category" class="form-control" required>
								<option value="null">-- Bitte wählen --</option>
								<option *ngFor="let category of categorys" [(value)]="category.id" >{{category.name}}</option>
							</select>
						</div>
						<div class="form-group">
							<label>Geburtsdatum</label>
							<p style="color:maroon" *ngIf="!form.controls['dateOfBirth'].valid && (form.controls['dateOfBirth'].touched || submitedForm)">Bitte geben Sie ein korrektes Datum an (Format YYYY-MM-DD).</p>
							<input formControlName="dateOfBirth" type="text" class="form-control" required>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Adresse/n</h3>
					</div>
					<div class="panel-body">
						<div class="row form-group">
							<div class="col-md-4 col-sm-6" *ngFor="let address of addresses; let i = index; trackBy:customTrackBy">
								<label>Adresse #{{i+1}}</label>
								<span (click)="removeElement(i, addresses)" class="pull-right glyphicon glyphicon-remove" style="color:maroon;cursor:pointer;"></span>
								<textarea [(ngModel)]="addresses[i]" [ngModelOptions]="{standalone: true}" class="form-control" style="resize:none"></textarea>
							</div>
						</div>
						<button type="button" (click)="addNewElement(addresses)" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>Neue Adresse</button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="panel panel-default">
						<div class="panel-heading">E-Mail Adresse/n
						</div>
						<div class="panel-body">
							<div class="form-group" *ngFor="let email of emails; let i = index; trackBy:customTrackBy">
								<label>E-Mail Adresse #{{i+1}}</label>
								<span (click)="removeElement(i, emails)" class="pull-right glyphicon glyphicon-remove" style="color:maroon;cursor:pointer;"></span>
								<input type="text" [(ngModel)]="emails[i]" [ngModelOptions]="{standalone: true}" class="form-control">
							</div>
							<button type="button" (click)="addNewElement(emails)" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>Neue E-Mail Adresse</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="panel panel-default">
						<div class="panel-heading">Telefonnummer/n
						</div>
						<div class="panel-body">

							<div class="form-group" *ngFor="let phone of phones; let i = index; trackBy:customTrackBy">
								<label>Telefonnummer #{{i+1}}</label>
								<span (click)="removeElement(i, phones)" class="pull-right glyphicon glyphicon-remove" style="color:maroon;cursor:pointer;"></span>
								<input type="text" [(ngModel)]="phones[i]" [ngModelOptions]="{standalone: true}" class="form-control">
							</div>
							<button type="button" (click)="addNewElement(phones)" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>Neue Telefonnummer</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<button type="submit" class="btn btn-lg btn-primary pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern</button>
			</div>
		</form>
	</div>
</div>