<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Kontakte importieren</h3>
	</div>
	<div class="panel-body">
		<p>Hier können Sie JSON Kontakt-Daten importieren. Fügen Sie hierzu die JSON Daten im folgenden Testfeld ein:</p>
		<div class="form-group">
			<textarea class="form-control" [(ngModel)]="jsonData" style="height:400px;  resize: none;"></textarea>
		</div>
		<button (click)="startImport(jsonData)" class="btn btn-lg btn-primary pull-right"><span class="glyphicon glyphicon-cloud-upload"></span> Importieren</button>
	</div>
</div>