<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3 class="panel-title">Kontakte</h3>
	</div>
	<div class="panel-body">
		<p>Im folgenden werden alle Kontakte aufgelistet. Sie haben die Möglichkeit die Kontakte anzuzeigen(
			<span class="glyphicon glyphicon-search"></span>), zu bearbeiten (<span class="glyphicon glyphicon-pencil"></span>) oder
			zu löschen(<span class="glyphicon glyphicon-trash"></span>)</p>
		<div class="row form-group">
			<div class="col-md-3 col-sm-6">
				<button class="btn btn-primary">Kategoriefilter</button>
			</div>
			<div class="col-md-offset-6 col-md-3 col-sm-6">
				<label>Volltextsuche</label>
				<input type="text" #fulltextsearch (keyup)="0" class="form-control">
			</div>
		</div>
	</div>

	<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Firma</th>
				<th>Kategorie</th>
				<th>Geburtsdatum</th>
				<th>Operationen</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let contact of contacts | fulltextFilter:fulltextsearch.value">
				<td>
					<a routerLink="/contacts/show/{{contact.id}}">{{contact.name}}</a>
				</td>
				<td>{{contact.company}}</td>
				<td>
					<span class="glyphicon glyphicon-stop" [style.color]="contact.category.color"></span>
					<a routerLink="/category/show/{{contact.category.id}}">
					{{contact.category.name}}
					</a>
				</td>
				<td>{{contact.dateOfBirth | date: 'dd. MM. yyyy'}}</td>
				<td>
					<button routerLink="/contacts/show/1" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
					<button routerLink="/contacts/edit/1" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
					<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>