<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3 class="panel-title">Kontakte</h3>
	</div>
	<div class="panel-body">

		<div class="row form-group">
			<div class="col-md-9">
				<p>Im folgenden werden alle Kontakte aufgelistet. Sie haben die Möglichkeit die Kontakte anzuzeigen(
					<span class="glyphicon glyphicon-search"></span>), zu bearbeiten (<span class="glyphicon glyphicon-pencil"></span>)
					oder zu löschen(<span class="glyphicon glyphicon-trash"></span>)</p>
			</div>
			<div class="col-md-3">
				<label>Volltextsuche</label>
				<input type="text" #fulltextsearch (keyup)="0" class="form-control">
			</div>
		</div>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#kategorieFilter" aria-expanded="false" aria-controls="kategorieFilter">
						Kategoriefilter
						</a>
					</h4>
				</div>
				<div id="kategorieFilter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="row">
							<div class="col col-md-4">
								<label><input type="radio" [value]="1" [checked]="categoryFilter.filterOut==1" [(ngModel)]="categoryFilter.filterOut" autocomplete="off" checked> Kontakte in der Kategorie anzeigen</label><br>

							</div>
							<div class="col col-md-6">
								<label><input type="radio"  [value]="0" [checked]="categoryFilter.filterOut==0" [(ngModel)]="categoryFilter.filterOut" autocomplete="off"> Kontakte die nicht in der Kategorie sind anzeigen</label>
							</div>
							<div class="col col-md-2">
								<button class="btn btn-danger pull-right" (click)="resetCategoryFilter()">Filter zurücksetzen</button>
							</div>
						</div>
						<div class="row">
							<div *ngFor="let category of categorys; let i = index;" class="col col-md-3">
								<label>
								<input type="checkbox" [(ngModel)]="checkedCategory[i]" (click)="categoryFilter.changeCategory(category)" > {{category.name}} (<span class="glyphicon glyphicon-stop" [style.color]="category.color"></span>)
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="contacts.length === 0">
		<div *ngIf="loadingFinish" class="alert alert-info" role="alert">
			<p>Keine Kontakte vorhanden.</p>
		</div>

		<div *ngIf="!loadingFinish" class="alert alert-info" role="alert">
			<p>Laden von Kontakten...</p>
		</div>
	</div>
	<!-- Table -->
	<table class="table" *ngIf="contacts.length > 0">
		<thead>
			<tr>
				<th>Name</th>
				<th>Firma</th>
				<th>Kategorie</th>
				<th>Geburtsdatum</th>
				<th>Operationen</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let contact of contacts | fulltextFilter:fulltextsearch.value | categoryfilter: categoryFilter">
				<td>
					<a routerLink="/contacts/show/{{contact.id}}">{{contact.name}}</a>
				</td>
				<td>{{contact.company}}</td>
				<td *ngIf="contact.category !== undefined && contact.category !== null">
					<span class="glyphicon glyphicon-stop" [style.color]="contact.category.color"></span>
					<a routerLink="/category/show/{{contact.category.id}}">
					{{contact.category.name}}
					</a>
				</td>
				<td>{{contact.dateOfBirth | date: 'dd. MM. yyyy'}}</td>
				<td>
					<button routerLink="/contacts/show/{{contact.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
					<button routerLink="/contacts/edit/{{contact.id}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
					<button class="btn btn-danger" (click)="deleteContact(contact.id)"><span class="glyphicon glyphicon-trash"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>