<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Allgemein</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Name</label>
							<input type="text"  class="form-control">
						</div>
						<div class="form-group">
							<label>Firma</label>
							<input readonly="readonly" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Kategorie</label>
							<input readonly="readonly" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>Geburtstag</label>
							<input readonly="readonly" type="text" class="form-control">
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Adresse/n</h3>
			</div>
			<div class="panel-body">
				<div class="row form-group">
					<div class="col-md-2">
						<label>PLZ</label>
						<input type="text" readonly="readonly" class="form-control">
					</div>
					<div class="col-md-3">
						<label>Ort</label>
						<input type="text" readonly="readonly" class="form-control">
					</div>
					<div class="col-md-4">
						<label>Straße</label>
						<input type="text"  readonly="readonly"class="form-control">
					</div>
					<div class="col-md-2">
						<label>Hausnummer</label>
						<input type="text"  readonly="readonly"class="form-control">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-2">
						<label>PLZ</label>
						<input type="text"  readonly="readonly"class="form-control">
					</div>
					<div class="col-md-3">
						<label>Ort</label>
						<input type="text"  readonly="readonly"class="form-control">
					</div>
					<div class="col-md-4">
						<label>Straße</label>
						<input type="text"  readonly="readonly"class="form-control">
					</div>
					<div class="col-md-2">
						<label>Hausnummer</label>
						<input type="text"  readonly="readonly"class="form-control">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-2">
						<label>PLZ</label>
						<input type="text"  readonly="readonly"class="form-control">
					</div>
					<div class="col-md-3">
						<label>Ort</label>
						<input type="text" readonly="readonly" class="form-control">
					</div>
					<div class="col-md-4">
						<label>Straße</label>
						<input type="text" readonly="readonly" class="form-control">
					</div>
					<div class="col-md-2">
						<label>Hausnummer</label>
						<input type="text" readonly="readonly" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">E-Mail Adresse/n</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label>E-Mail Adresse</label>
					<input readonly="readonly" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>E-Mail Adresse</label>
					<input readonly="readonly" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>E-Mail Adresse</label>
					<input readonly="readonly" type="text" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Telefonnummer/n</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label>Telefonnummer</label>
					<input readonly="readonly" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>Telefonnummer</label>
					<input readonly="readonly" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>Telefonnummer</label>
					<input readonly="readonly" type="text" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>