<div class="row" *ngIf="contact !== null && contact !== undefined">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Allgemein</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Name</label>
							<input type="text" readonly="readonly" [(ngModel)]="contact.name" class="form-control">
						</div>
						<div class="form-group">
							<label>Firma</label>
							<input readonly="readonly" [(ngModel)]="contact.company" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Kategorie</label>
							<div *ngIf="contact.category !== undefined && contact.category !== null" class="input-group">
								<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-stop" [style.color]="contact.category.color"></span></span>
								<input readonly="readonly" [(ngModel)]="contact.category.name" aria-describedby="basic-addon1" type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label>Geburtstag</label>
							<input readonly="readonly" value="{{contact.dateOfBirth | date: 'dd. MM. yyyy'}}" type="text" class="form-control">
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Adresse/n</h3>
			</div>
			<div class="panel-body">
				<div class="row form-group">
					<div class="col-md-4 col-sm-6" *ngFor="let address of contact.addresses; let i = index;">
						<label>Adresse #{{i+1}}</label>
						<pre>{{address}}</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">E-Mail Adresse/n</h3>
			</div>
			<div class="panel-body">
				<div class="form-group" *ngFor="let email of contact.emails; let i = index;">
					<label>E-Mail Adresse #{{i+1}}</label>
					<input readonly="readonly" value="{{email}}" type="text" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Telefonnummer/n</h3>
			</div>
			<div class="panel-body">
				<div class="form-group" *ngFor="let phone of contact.phones; let i = index;">
					<label>Telefonnummer #{{i+1}}</label>
					<input readonly="readonly" value="{{phone}}" type="text" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>